<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="component md">
      <h1>Typography</h1>
      <p>The GitLab brand uses the Source Sans Pro font family. Headers (h1, h2, etc.) always have a weight of 600 (unless used in special situations like large, custom quotes) and the body text always has a weight of 400. Headers should not be given custom classes, they should be used as tags and tags alone (h1, h2, etc.) and their sizes or weights should not be changed, unless rare circumstances occur. Here are typography tags.</p>
      <p><code>H1: Header Level 1</code></p>
      <p><code>H2: Header Level 2</code></p>
      <p><code>H3: Header Level 3</code></p>
      <p><code>H4: Header Level 4</code></p>
      <p><code>p: Body text</code></p>
    </div>
  </div>
</template>
