<template>
  <div class="personas content limited m-t-7 m-b-7">
    <div class="md">
      <h1>Personas</h1>
      <p>This page has been moved to the <a href="https://about.gitlab.com/handbook/marketing/product-marketing/roles-personas/" target="_blank" rel="noopener">handbook</a></p>
    </div>
  </div>
</template>
